---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script
        defer
        src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <script defer>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", (user) => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1950">
        <div class="cs-container">
            <div class="cs-content">
                <h1 class="cs-title">Mobile RV Repair in Portland, Oregon</h1>
                <div class="cs-flex-group">
                    <p class="cs-text">
                        Certified RV tech with real-world RV experience. We come
                        to you for fast help with appliances, plumbing, roofs,
                        tanks, and more.
                    </p>
                    <a href="" class="cs-button-solid">Read More</a>
                </div>
            </div>
        </div>

        <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
        <picture class="cs-background">
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/relaxing-beaver.png"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/relaxing-beaver.png"
            />
            <img
                decoding="async"
                src="/assets/images/relaxing-beaver.png"
                alt="restaurant"
                width="2250"
                height="1500"
                aria-hidden="true"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-1378">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">RV Repair Services That Come to You</h2>
                <p class="cs-text">
                    From roof repairs to solar installs, I bring certified
                    mobile RV service right to your campsite or
                    driveway—anywhere around Portland, Oregon. No waiting, no
                    towing—just fast, reliable fixes.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img
                            class="cs-icon"
                            loading="lazy"
                            decoding="async"
                            src="/assets/icons/furnace.svg"
                            alt="icon"
                            width="48"
                            height="48"
                        />
                    </picture>
                    <h3 class="cs-h3">Appliance Repairs</h3>
                    <p class="cs-item-text">
                        Fridge not cooling? Furnace acting up? I fix all major
                        RV appliances—fast and on-site.
                    </p>
                    <a href="/" class="cs-link">
                        <img
                            class="cs-arrow"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow"
                            width="413"
                            height="374"
                            aria-hidden="true"
                        />
                    </a>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img
                            class="cs-icon"
                            loading="lazy"
                            decoding="async"
                            src="/assets/icons/bubbles.svg"
                            alt="icon"
                            width="48"
                            height="48"
                        />
                    </picture>
                    <h3 class="cs-h3">Tank Services</h3>
                    <p class="cs-item-text">
                        Black and grey tank troubles? I’ll get things flowing
                        smoothly again with proper cleaning and maintenance.
                    </p>
                    <a href="/" class="cs-link">
                        <img
                            class="cs-arrow"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow"
                            width="413"
                            height="374"
                            aria-hidden="true"
                        />
                    </a>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img
                            class="cs-icon"
                            loading="lazy"
                            decoding="async"
                            src="/assets/icons/plumbing.svg"
                            alt="icon"
                            width="48"
                            height="48"
                        />
                    </picture>
                    <h3 class="cs-h3">Plumbing Repairs</h3>
                    <p class="cs-item-text">
                        Leaky faucets or no hot water? I handle fresh water,
                        drains, water heaters, and more.
                    </p>
                    <a href="/" class="cs-link">
                        <img
                            class="cs-arrow"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow"
                            width="413"
                            height="374"
                            aria-hidden="true"
                        />
                    </a>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img
                            class="cs-icon"
                            loading="lazy"
                            decoding="async"
                            src="/assets/icons/solar-panel.svg"
                            alt="icon"
                            width="48"
                            height="48"
                        />
                    </picture>
                    <h3 class="cs-h3">Solar Installations</h3>
                    <p class="cs-item-text">
                        Ready to go off-grid? I install RV solar systems that
                        fit your setup and lifestyle.
                    </p>
                    <a href="/" class="cs-link">
                        <img
                            class="cs-arrow"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow"
                            width="413"
                            height="374"
                            aria-hidden="true"
                        />
                    </a>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img
                            class="cs-icon"
                            loading="lazy"
                            decoding="async"
                            src="/assets/icons/rv.svg"
                            alt="icon"
                            width="48"
                            height="48"
                        />
                    </picture>
                    <h3 class="cs-h3">Roof Repair & Replacement</h3>
                    <p class="cs-item-text">
                        Leaks, soft spots, or full roof replacement—I’ll help
                        keep the weather where it belongs: outside.
                    </p>
                    <a href="/" class="cs-link">
                        <img
                            class="cs-arrow"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow"
                            width="413"
                            height="374"
                            aria-hidden="true"
                        />
                    </a>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img
                            class="cs-icon"
                            loading="lazy"
                            decoding="async"
                            src="/assets/icons/wrench.svg"
                            alt="icon"
                            width="48"
                            height="48"
                        />
                    </picture>
                    <h3 class="cs-h3">General Maintenance</h3>
                    <p class="cs-item-text">
                        From seasonal checkups to system tune-ups, I help keep
                        your RV road-ready all year long.
                    </p>
                    <a href="/" class="cs-link">
                        <img
                            class="cs-arrow"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow"
                            width="413"
                            height="374"
                            aria-hidden="true"
                        />
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="sbs-1006">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Desktop-->
                    <source
                        media="(min-width: 1024px)"
                        srcset="/assets/images/profile.jpg"
                    />
                    <!--Tablet-->
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/profile.jpg"
                    />
                    <!--Mobile-->
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/profile.jpg"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/profile.jpg"
                        alt="beef"
                        width="522"
                        height="461"
                        aria-hidden="true"
                    />
                </picture>
                <img
                    class="cs-seal"
                    loading="lazy"
                    decoding="async"
                    src="/assets/images/logo.jpg"
                    alt="seal"
                    width="190"
                    height="182"
                />
            </div>
            <div class="cs-content">
                <span class="cs-topper">Our Story</span>
                <h2 class="cs-title">Built by an RVer, for RVers</h2>
                <p class="cs-text">
                    I’m not just another RV tech—I’m an RVer, just like you.
                    Since 2018, I’ve been living full-time in a 5th wheel and a
                    truck camper, so I understand firsthand how frustrating it
                    is when something stops working and you're far from a
                    dealership or stuck waiting for a callback that never comes.
                </p>
                <p class="cs-text">
                    That’s why I started AAA RV Tech—to offer a better way. I’m
                    an Advanced Certified RV Technician who brings the repair
                    shop to you, whether you’re parked in a driveway, a
                    campground, or somewhere off-grid near Portland, Oregon. No
                    towing, no long waits, just real help when you need it.
                </p>
                <p class="cs-text">
                    From fixing fridges and furnaces to solving tank issues,
                    leaky roofs, and more, I handle the stuff that keeps your RV
                    running—and your trip on track. I care about doing the job
                    right, treating your rig with respect, and getting you back
                    to enjoying the RV life as fast as possible.
                </p>

                <a href="/contact" class="cs-button-solid">Schedule Service</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbsr-1566">
        <div class="cs-container">
            <picture class="cs-picture">
                <source
                    media="(max-width: 600px)"
                    srcset="/assets/images/why-choose-us.png"
                />
                <source
                    media="(min-width: 601px)"
                    srcset="/assets/images/why-choose-us.png"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="/assets/images/why-choose-us.png"
                    alt="model"
                    width="586"
                    height="752"
                    aria-hidden="true"
                />
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Why Choose AAA RV Tech</span>
                <h2 class="cs-title">
                    Real RV experience. Certified repairs. No dealership
                    runaround.
                </h2>
                <ul class="cs-card-group">
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img
                                class="cs-li-icon"
                                aria-hidden="true"
                                src="/assets/icons/contract.svg"
                                decoding="async"
                                alt="contract"
                                width="32"
                                height="32"
                                loading="lazy"
                            />
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Certified & Skilled</h3>
                            <p class="cs-li-text">
                                I’m an Advanced Certified RV Technician trained
                                to repair appliances, plumbing, solar, roofs,
                                and more—accurately and safely.
                            </p>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img
                                class="cs-li-icon"
                                aria-hidden="true"
                                src="/assets/icons/convenience.svg"
                                decoding="async"
                                alt="convenience"
                                width="32"
                                height="32"
                                loading="lazy"
                            />
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Mobile & Convenient</h3>
                            <p class="cs-li-text">
                                No towing. No long waits. I come to you anywhere
                                around Portland, Oregon, ready to get the job
                                done right then and there.
                            </p>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img
                                class="cs-li-icon"
                                aria-hidden="true"
                                src="/assets/icons/clock.svg"
                                decoding="async"
                                alt="clock"
                                width="32"
                                height="32"
                                loading="lazy"
                            />
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Fast, Friendly Service</h3>
                            <p class="cs-li-text">
                                I keep things simple, transparent, and
                                hassle-free—just solid, reliable service with a
                                smile.
                            </p>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img
                                class="cs-li-icon"
                                aria-hidden="true"
                                src="/assets/icons/honest.svg"
                                decoding="async"
                                alt="icon"
                                width="32"
                                height="32"
                                loading="lazy"
                            />
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Honest Work, No Upsells</h3>
                            <p class="cs-li-text">
                                I don’t sell you what you don’t need. I fix
                                what’s broken, explain what’s going on, and keep
                                you in the loop the whole way.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Logos                      -->
    <!-- ============================================ -->

    <div id="logos-1566">
        <div class="cs-container">
            <span class="cs-header">Certified By</span>
            <div class="cs-logo-group">
                <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
                <picture class="cs-picture">
                    <img
                        class="cs-logo"
                        src="/assets/images/nrvta-logo.png"
                        alt="logo"
                        width="287"
                        height="65"
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
                <picture class="cs-picture">
                    <img
                        class="cs-logo"
                        src="/assets/images/rvtaa-logo.png"
                        alt="logo"
                        width="228"
                        height="61"
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
            </div>
        </div>
        <!-- Background Graphic -->
        <picture class="cs-background">
            <img
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves-side.svg"
                alt="waves"
                width="1920"
                height="300"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
            />
        </picture>
    </div>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-62">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Reviews</span>
                <h2 class="cs-title">What Fellow RVers Are Saying</h2>
                <p class="cs-text">
                    Real reviews from real people who needed fast, reliable
                    help—and got it.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img
                        class="cs-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile1.png"
                        alt="profile"
                        width="68"
                        height="68"
                    />
                    <span class="cs-name">John Doe</span>
                    <span class="cs-desc">Texas</span>
                    <p class="cs-item-text">
                        We had a sudden water heater issue right before a
                        weekend away, and he came out the same day. Super
                        friendly, explained everything clearly, and had it fixed
                        fast. Highly recommend!
                    </p>
                </li>
                <li class="cs-item">
                    <img
                        class="cs-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.png"
                        alt="profile"
                        width="68"
                        height="68"
                    />
                    <span class="cs-name">Jane Smith</span>
                    <span class="cs-desc">California</span>
                    <p class="cs-item-text">
                        You can tell he actually lives this life. He found and
                        fixed a roof leak I didn’t even know was there. Honest,
                        professional, and super easy to work with.
                    </p>
                </li>
                <li class="cs-item">
                    <img
                        class="cs-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile3.png"
                        alt="profile"
                        width="68"
                        height="68"
                    />
                    <span class="cs-name">Thomas Madden</span>
                    <span class="cs-desc">Texas</span>
                    <p class="cs-item-text">
                        We’ve been burned before by no-shows and long waits.
                        This guy came when he said he would, fixed our fridge,
                        and didn’t try to upsell anything. Solid work.
                    </p>
                </li>
            </ul>
            <a aria-label="read more reviews" href="" class="cs-button-solid"
                >Read More</a
            >
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
