/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1006 {
        background-color: var(--light);
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(800 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            /* changes to 522px at desktop */
            max-width: calc(578 / 16 * 1rem);
            margin-top: calc(-16 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-spacer {
            width: 100%;
            /* 16px - 24px */
            height: clamp(1rem, 3vw, 1.5rem);
            display: block;
        }

        .cs-image-group {
            width: 100%;
        }

        .cs-picture {
            width: 100%;
            height: calc(261 / 16 * 1rem);

            display: block;
            box-shadow: var(--shadow);
            position: relative;
            border-radius: var(--borderRounded);
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it behave like a background image */
                object-fit: cover;
            }
        }

        .cs-seal {
            /* changes to a clamp(104px - 190px) at desktop */
            width: calc(104 / 16 * 1rem);
            height: auto;
            /* 104px - 190px */
            /* wrapped clamp in calc function to make the value negative, and multiply by half (.5) the height to it always overlaps the bg image by half its height */
            margin-top: calc(clamp(6.5rem, 12vw, 11.875rem) * -0.5);
            margin-left: auto;
            /* 28px - 120px */
            margin-right: clamp(1.75rem, 10vw, 7.5rem);
            background-color: #fff;
            border: clamp(6px, 0.8vw, 12px) solid #fff;
            border-radius: 50%;
            display: block;
            position: relative;
            /* make it rest on top of the bg picture */
            z-index: 10;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-1006 {
        .cs-container {
            align-items: flex-start;
        }
        .cs-flex-group {
            flex-direction: row;
        }

        .cs-spacer {
            display: none;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1006 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            /* 100px - 200px */
            gap: clamp(6.25rem, 13vw, 12.5rem);
        }

        .cs-image-group {
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            justify-content: flex-end;
            position: relative;
        }

        .cs-picture {
            height: calc(460 / 16 * 1rem);
            aspect-ratio: initial;
        }

        .cs-seal {
            /* 104 - 190px */
            width: clamp(6.5rem, 13vw, 11.875rem);
            margin: 0;
            position: absolute;
            top: 50%;
            /* subtract 12px (.75rem) to account for the border */
            right: calc((clamp(6.5rem, 13vw, 11.875rem) * -0.5) + -0.75rem);
            transform: translateY(-50%);
        }

        .cs-content {
            flex: none;
            width: 54%;
            max-width: calc(542 / 16 * 1rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-1006 {
            background-color: var(--dark);
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-picture {
                border-color: var(--dark);
                background-color: var(--dark);
            }

            .cs-seal {
                border-color: var(--dark);
                background-color: var(--dark);
            }
        }
    }
}

/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-1566 {
        background-color: var(--lighter);
        padding: var(--sectionPadding);
        position: relative;
        z-index: 2;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            /* 28px - 40px */
            margin: 0 0 clamp(1.75rem, 3vw, 2.5rem) 0;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            margin: 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            /* 28px - 40px */
            gap: clamp(1.75rem, 4vw, 2.5rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-li-picture {
            /* 60px - 80px */
            width: clamp(3.75rem, 7vw, 5rem);
            height: clamp(3.75rem, 7vw, 5rem);
            margin: 0;
            border-radius: 50%;
            background-color: #fff;
            border: 1px solid var(--tertiary);
            box-sizing: border-box;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background: var(--tertiaryOpaque);

                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-li-icon {
            /* 24px 36px */
            width: clamp(1.5rem, 3vw, 2.25rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .cs-li-text {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-picture {
            width: 100%;
            max-width: calc(586 / 16 * 1rem);
            height: 100vw;
            min-height: calc(360 / 16 * 1rem);
            max-height: calc(600 / 16 * 1rem);
            display: block;
            position: relative;
            border-radius: var(--borderRounded);
            overflow: hidden;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-1566 {
        padding-bottom: 0;

        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            position: relative;
        }

        .cs-content {
            width: 50%;
            /* Same as marign-bottom on .cs-picture, offsets its negative margin */
            padding-bottom: clamp(5rem, 7vw, 7rem);
        }

        .cs-picture {
            height: auto;
            /* 640px - 752px */
            min-height: clamp(40rem, 70vw, 47rem);
            max-height: 100%;
            width: 42%;
            /* -80px to -112px */
            margin-bottom: calc(clamp(5rem, 7vw, 7rem) * -1);
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbsr-1566 {
            background-color: var(--medium);
            .cs-title,
            .cs-text,
            .cs-li,
            .cs-h3,
            .cs-li-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-li-text,
            .cs-text {
                opacity: 0.8;
            }

            .cs-li-icon {
                filter: grayscale(1) brightness(1000%);
            }

            .cs-li-picture {
                background-color: var(--dark);
            }
        }
    }
}

/*-- -------------------------- -->
<---           Logos            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #logos-1566 {
        padding: var(--sectionPadding);
        background-color: var(--grayDark);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
        }

        .cs-header {
            font-size: calc(25 / 16 * 1rem);
            text-align: center;
            font-weight: 700;
            line-height: 1.2em;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .cs-logo-group {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            column-gap: calc(40 / 16 * 1rem);
        }

        .cs-picture {
            width: 20rem;
            /* 120px - 150px */
            height: clamp(7.5rem, 12vw, 9.375rem);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-logo {
            width: 100%;
            height: auto;
            height: auto;
            margin: 0;
            display: block;
            object-fit: contain;
            filter: invert(1) brightness(10000%);
        }

        .cs-background {
            width: 100%;
            height: 100%;
            max-height: calc(650 / 16 * 1rem);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #logos-1566 {
        /* 170px - 192px */
        padding-top: clamp(10.625rem, 17vw, 12rem);
        .cs-logo-group {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            flex-wrap: nowrap;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 48rem) {
    body.dark-mode {
        #logos-1566 {
            background-color: var(--dark);

            .cs-background {
                img {
                    opacity: 0.35;
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-62 {
        padding: var(--sectionPadding);
        background-color: var(--lighter);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: calc(20 / 16 * 1rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: calc(413 / 16 * 1rem);
            margin: 0;
            padding: 0;
        }

        .cs-img {
            width: calc(68 / 16 * 1rem);
            height: calc(68 / 16 * 1rem);
            margin: 0 auto calc(16 / 16 * 1rem);
            border-radius: 50%;
            display: block;
        }

        .cs-name {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            text-align: center;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-desc {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            text-align: center;
            margin: 0 0 calc(16 / 16 * 1rem);
            color: var(--grayDark);
            display: block;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 2vw, 1rem);
            text-align: center;
            line-height: 1.5em;
            margin: auto;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-62 {
        .cs-card-group {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            row-gap: calc(40 / 16 * 1rem);
        }

        .cs-item {
            /* we do this so it's stackable. You can add new any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 23% to get the desired sizes fit 4 in a row and then stack when you add more*/
            width: clamp(31.5%, 30vw, 32.3%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-62 {
            background-color: var(--medium);

            .cs-title,
            .cs-text,
            .cs-name,
            .cs-desc,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item-text,
            .cs-text {
                opacity: 0.8;
            }
        }
    }
}
